<mat-toolbar>
    <span><img src="../../../../assets/img/pokeball2.png" alt=""></span>
    <ul routerLinkActive="active">
        <a [routerLink]="['home']" mat-button>Home</a>
    </ul>

    <ul routerLinkActive="active">
        <a [routerLink]="['pokemones']" mat-button>Pokemones</a>
        <a [routerLink]="['search']" mat-button>Buscador</a>
    </ul>

    <div class="spacer"></div>

    <mat-form-field class="example-form-field">
        <input matInput type="search" aria-label="Clear" placeholder="Buscar pokemon">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon >search</mat-icon>
        </button>

    </mat-form-field>
    <!-- <button mat-stroked-button>Buscar</button> -->
</mat-toolbar>