.header-page {
    width: 100%!important;
    span {
        img {
            width: 50px!important;
            height: auto;

            @media only screen and (max-width: 320px) {
                display: none;
            }
        }
    }
    .link-poke{
        @media only screen and (max-width: 600px) {
          display: none;   
        }
    }
    
    div {
        flex: 3 3 auto
    }
    .containersearch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        @media only screen and (max-width: 600px) {
            width: fit-content;
        }
        
        .search{
            color: #FFEA00;
            .input-search{
               @media only screen and (max-width: 320px) {
                    width: 168px
                }
            }  
        }
        .btnSearch {
            margin-top: 1em;
            margin-left: 1em;
            font-size: large;
            @media only screen and (max-width: 600px) {
                font-size: 12px;
                margin-left: 0;
            }
            @media only screen and (max-width: 320px) {
                font-size: 10px;
                margin-left: 0;
            }
            
        }
        mat-form-field {
            mat-label {
                font-size: 15px;
            }
        }
    }
}