<mat-toolbar>
    <span><img src="../../../../assets/img/pokeball2.png" alt=""></span>


    <ul routerLinkActive="active">
        <a [routerLink]="['pokemones']" mat-button>Pokemones</a>
    </ul>

    <div class="spacer"></div>

    <mat-form-field class="example-form-field">
        <input #finished matInput type="text" (keyup.enter)="search(finished.value)" aria-label="Clear" placeholder="Buscar pokemon">
        <button (click)="search(finished.value)" mat-button matSuffix mat-icon-button>
              <mat-icon >search</mat-icon>
        </button>

    </mat-form-field>
    <!-- <button mat-stroked-button>Buscar</button> -->
</mat-toolbar>