<mat-toolbar>
    <span><img src="../../../../assets/img/pokeball2.png" alt=""></span>


    <ul routerLinkActive="active">
        <a [routerLink]="['pokemones']" mat-button>Pokemones</a>
    </ul>

    <div class="spacer"></div>

    <form class="containersearch">
        <mat-form-field class="search">
            <mat-label>Encuentra tu pokemon</mat-label>
            <input #finished (keyup.enter)="search(finished.value)" matInput>
        </mat-form-field>
        <div class=containerBtn>
            <button class="btn btnSearch" mat-button (click)="search(finished.value)">Buscar</button>
        </div>
    </form>


</mat-toolbar>