<section class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Pokemon: {{pokemonSelected.name | titlecase}}</mat-card-title>
            <mat-card-subtitle><span>Tipo</span>: {{pokemonSelected.type | titlecase}}</mat-card-subtitle>
        </mat-card-header>
        <img class="imgCard" [src]="pokemonSelected.image" alt="imagen pokemon">
        <hr>
        <mat-card-content>
            <p>
                {{ pokemonSelected.description}} <br><br>Evolucion: {{pokemonSelected.evolution['name']| titlecase}}
            </p>
        </mat-card-content>
        <hr>
        <mat-card-actions>
            <button (click)="return()" mat-button>Regresar</button>
        </mat-card-actions>
    </mat-card>
</section>