$color-esmeralda:rgb(94, 221, 214);
.container-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blue;
    .pokecard {
        width: 300px;
        margin: 2em;
        display: flex;
        flex-direction: column;
        img {
            width: 150px;
            height: auto;
            justify-content: center;
        }
    }
    mat-card-actions {
        .seeMoreInfo {
            color: $color-esmeralda;
            border: 1px solid $color-esmeralda;
            width: 100%;
        }
    }
}