<section class="container-card">
    <mat-card class="pokecard">
        <mat-card-header>
            <div mat-card-avatar class="headerImg">

            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip>One fish</mat-chip>
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected>Primary fish</mat-chip>
                <mat-chip color="accent" selected>Accent fish</mat-chip>
            </mat-chip-list>
            <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p> -->
        </mat-card-content>
        <mat-card-actions>
            <button class="seeMoreInfo" mat-flat-button>Ver mas ...</button>

        </mat-card-actions>
    </mat-card>


    <!-- card 2-->
    <mat-card class="pokecard">
        <mat-card-header>
            <div mat-card-avatar class="headerImg">

            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Ver mas</button>

        </mat-card-actions>
    </mat-card>
    <!-- card 3-->
    <mat-card class="pokecard">
        <mat-card-header>
            <div mat-card-avatar class="headerImg">

            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Ver mas</button>

        </mat-card-actions>
    </mat-card>
    <!-- card 4-->
    <mat-card class="pokecard">
        <mat-card-header>
            <div mat-card-avatar class="headerImg">

            </div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Ver mas</button>

        </mat-card-actions>
    </mat-card>
    <!-- card 5-->
</section>