<mat-card class="pokecard">

    <mat-card-header>
        <div mat-card-avatar class="headerImg"></div>
        <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{pokemon.type | titlecase}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="pokemon.image" alt="foto pokemon">

    <mat-card-content>
        <mat-chip-list aria-label="Fish selection">
            <!-- <mat-chip>{{i}}/{{Pokemones.length}}</mat-chip> -->
            <div>
                <mat-chip>{{pokemon.evolution.name}}</mat-chip>
            </div>

        </mat-chip-list>

    </mat-card-content>

    <mat-card-actions>
        <button (click)="seePokemon()" class="btn seeMoreInfo" mat-flat-button>Ver mas ...</button>

    </mat-card-actions>
</mat-card>