$color-esmeralda:rgb(94, 221, 214);
.container-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
        mat-card-image {
            height: 100px;
        }
    }
    .pokecard {
        width: 200px;
        height: 300px;
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: rgb(245, 245, 245);
    }
    mat-card-actions {
        .seeMoreInfo {
            color: $color-esmeralda;
            border: 1px solid $color-esmeralda;
            width: 100%;
            &:hover {
                color: rgb(245, 245, 245);
                background-color: $color-esmeralda;
            }
        }
    }
}